*~
call_sed.py
*.xml
plot_ly_series.py
replacestuffs.py
speccut_continua.py
*.txt
*.dat
test*.py
*.bak
searchArray.py
speccuts_continua.py
speccuts.py
ref_data.py
plotting.py
plot_redchi2.py
plot_continua.py
plot_fit.py
plot_ly_series.*
mergedb.py
lineid_plot.py
join.py
get_cont_err.py
flyweight.py
get_all_dh.py
_db.py
data_types_.py
continua_plot.py
compare_lines.py
compare_D_vel.py
clear_db.py
bootstrap_stuff.py

